<div style="width: 100%; text-align: center;">
    <div class="table-responsive">
        <table class="table material-table">
            <thead>
                <tr>
                    <th>Piece</th>
                    <th>Piece Value</th>
                </tr>
            </thead>
            <tbody>
                <!-- Pawn -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wp.svg" alt="White Pawn" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
    
                <!-- Knight -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wn.svg" alt="White Knight" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
    
                <!-- Bishop -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wb.svg" alt="White Bishop" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
    
                <!-- Rook -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wr.svg" alt="White Rook" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
    
                <!-- Queen -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wq.svg" alt="White Queen" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
    
                <!-- King -->
                <tr>
                    <td class="asset-placeholder">
                        <img src="/assets/pieces/wk.svg" alt="White King" width="75px" height="75px">
                    </td>
                    <td><input type="number" class="piece-value-input" placeholder="Enter value"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
