.full-card
{
    min-width: 418px
}
.main-container
{
    height: auto;
    min-height: 100vh;
}
.full-card {
    cursor: pointer;
    transition: transform 0.2s;
  }

.strategy-detail {
    background-color: #E8D3A0; 
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: solid black;
}