/* Menu de navegación */
.my-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #54683e;
  padding: 10px;
}

.my-container ul li {
  margin: 5px 10px;
}

.my-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  display: block;
}

.my-container ul li a:hover {
  background-color: #C2FE72;
  color: black;
}

/* Logo styles */
.logo-container {
  display: inherit;
  font-family: 'Times New Roman', Times, serif;
}

/* Mobile navbar toggle button */
.navbar-toggler {
  background-color: #C2FE72;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  display: none;
  line-height: 36px;
  margin-right: 20px;
  border-radius: 3px;
}

/* Show the toggle button on small screens */
@media (max-width: 768px) {
  .navbar-toggler {
      display: block;
  }
  .nav-header{
    background-color: #54683e;
  }
  .mobile-hide{
    display: none !important;
  }
  .center-menu {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 99999;
  }

  .my-container ul {
      flex-direction: column;
      align-items: center;
  }

  /* Show the menu when open */
  .my-container ul.d-flex {
      display: flex;
  }

  /* Ensure links take full width on mobile */
  .my-container ul li a {
      width: 100%;
      text-align: center;
  }

}
