<div class="my-container d-flex justify-content-between align-items-center" [ngClass]="{'fixed-top': !isSmallScreen}">
  <!-- Left side: Icon -->
  <ul class="nav justify-content-center flex-grow-1 logo-container" style="flex-grow: 0 !important;">
    <li class="nav-item">
      <a [routerLink]="['/blog']" class="nav-link" style="text-wrap: nowrap;">Ramsey Chess</a>
    </li>
  </ul>

  <!-- Center: Navigation Items -->
  <ul class="nav justify-content-center flex-grow-1">
    <li class="nav-item">
      <a href="/blog" class="nav-link">Blog</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Sandbox</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/play-ai']" class="nav-link">Play against AI</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/bot-vs-bot']" class="nav-link">Bot vs Bot</a>
    </li>
  </ul>

  <!-- Right side: Sign In / Register or Sign Out -->
  <ul class="nav justify-content-end flex-grow-1" style="flex-grow: 0 !important;">
    <li class="nav-item" *ngIf="!(auth.isAuthenticated$ | async)">
      <a [routerLink]="['/sign-in']" class="nav-link">Sign In / Register</a>
    </li>
    <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
      <a (click)="logout()" class="nav-link" style="cursor: pointer;">  {{ userData?.email ?? 'No email' }}
      </a>
    </li>
  </ul>
</div>