<div class="my-container bg-light" [ngClass]="{'fixed-top': !isSmallScreen}">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a [routerLink]="['/blog']" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Sandbox</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Play against AI</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Create strategy</a>
      </li>
    </ul>
  </div>
  