
/* Menu de navegación */
.my-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items */
    background-color: #160555;
    padding: 10px;
  }
  
  .my-container ul li {
    margin: 5px 10px; /* Added smaller margin to prevent cropping on smaller screens */
  }
  
  .my-container ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px; /* Adjusted padding for better visibility */
    border-radius: 3px;
    transition: background-color 0.3s ease;
    display: block; /* Ensure each link is block-level to adjust alignment */
  }
  
  .my-container ul li a:hover {
    background-color: #a77a01;
  }
  
  .logo-container
  {
    display: inherit;
    font-family: 'Times New Roman', Times, serif;
  }


  /* Adjust styling for smaller screens */
  @media (max-width: 576px) {
    .my-container ul {
      flex-direction: column; /* Stack menu items vertically on very small screens */
      align-items: center;
    }
  
    .my-container ul li {
      margin-bottom: 10px;
    }
  
    .my-container ul li a {
      padding: 10px 20px; /* Increase padding for touch targets */
      width: 100%; /* Make sure links expand to full width on smaller screens */
      text-align: center; /* Center text */
    }
    .logo-container
    {
      display: none !important;
    }
  }