<app-navmenu></app-navmenu>
<div class="container">
  <p>
    Card Id : {{this.cardId}}
  </p>
  <ngx-chess-board #chessBoard (moveChange)="onMoveChange()" 
  [size]="boardSize" 
  [darkDisabled]="true" 
  [darkTileColor]="'#779557'"
  [lightTileColor]="'#ECECD0'"
  [pieceIcons]="{
    blackBishopUrl: 'assets/pieces/bb.svg',
    blackKingUrl: 'assets/pieces/bk.svg',
    blackKnightUrl: 'assets/pieces/bn.svg',
    blackPawnUrl: 'assets/pieces/bp.svg',
    blackQueenUrl: 'assets/pieces/bq.svg',
    blackRookUrl: 'assets/pieces/br.svg',
    whiteBishopUrl: 'assets/pieces/wb.svg',
    whiteKingUrl: 'assets/pieces/wk.svg',
    whiteKnightUrl: 'assets/pieces/wn.svg',
    whitePawnUrl: 'assets/pieces/wp.svg',
    whiteQueenUrl: 'assets/pieces/wq.svg',
    whiteRookUrl: 'assets/pieces/wr.svg'
  }"
></ngx-chess-board>
</div>
