.game-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.white-selected td {
  background-color: rgb(187, 247, 159);
}

.black-selected td {
  background-color: rgb(218, 78, 78);
}

tr {
  cursor: pointer;
}
.custom-button
{
  background-color: #C2FE72;
  border-radius: 1px;
  border: none;
  color:black;
}
.custom-button:disabled
{
  background-color: #528304;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in;
}