<form (ngSubmit)="onSubmit()">
  <div class="container mt-4">
    <div class="row" style="width: fit-content;max-width: 750px;">
      <!-- Your Pieces - Bootstrap columns for each input group -->
      <div class="col-12 col-md-6 mb-3" >
        <div class="form-group">
          <label for="ownPawnValue">Pawns:</label>
          <input type="number" id="ownPawnValue" [(ngModel)]="model.whitePieces.pawn" name="ownPawnValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentPawnValue">Opponent's Pawns:</label>
          <input type="number" id="opponentPawnValue" [(ngModel)]="model.blackPieces.pawn" name="opponentPawnValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="ownKnightValue">Knights:</label>
          <input type="number" id="ownKnightValue" [(ngModel)]="model.whitePieces.knight" name="ownKnightValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentKnightValue">Opponent's Knights:</label>
          <input type="number" id="opponentKnightValue" [(ngModel)]="model.blackPieces.knight" name="opponentKnightValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="ownBishopValue">Bishops:</label>
          <input type="number" id="ownBishopValue" [(ngModel)]="model.whitePieces.bishop" name="ownBishopValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentBishopValue">Opponent's Bishops:</label>
          <input type="number" id="opponentBishopValue" [(ngModel)]="model.blackPieces.bishop" name="opponentBishopValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="ownRookValue">Rooks:</label>
          <input type="number" id="ownRookValue" [(ngModel)]="model.whitePieces.rook" name="ownRookValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentRookValue">Opponent's Rooks:</label>
          <input type="number" id="opponentRookValue" [(ngModel)]="model.blackPieces.rook" name="opponentRookValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="ownQueenValue">Queen:</label>
          <input type="number" id="ownQueenValue" [(ngModel)]="model.whitePieces.queen" name="ownQueenValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentQueenValue">Opponent's Queen:</label>
          <input type="number" id="opponentQueenValue" [(ngModel)]="model.blackPieces.queen" name="opponentQueenValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="ownKingValue">King:</label>
          <input type="number" id="ownKingValue" [(ngModel)]="model.whitePieces.king" name="ownKingValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <label for="opponentKingValue">Opponent's King:</label>
          <input type="number" id="opponentKingValue" [(ngModel)]="model.blackPieces.king" name="opponentKingValue" required (input)="validateFloat($event)" step="0.1" class="form-control" />
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
          <button 
            type="submit" 
            class="btn btn-primary mt-3 custom-button" 
            (click)="isRequesting ? null : pingFlask()" 
            [disabled]="isRequesting">
            Evaluate
          </button>
        </div>
      </div>

    </div>
    

  <div *ngIf="bestMove" class="mt-3">
    <strong>Best Move:</strong> {{ bestMove }}
  </div>
  </div>
</form>
