<form (ngSubmit)="onSubmit()">
  <div class="container mt-4">
    <div class="table-responsive">
      <table class="table custom-table">
        <thead>
          <tr>
            <th class="player-header text-center" colspan="2">Player 1 (White Pieces)</th>
            <th class="player-header text-center" colspan="2">Player 2 (Black Pieces)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Pawns -->
          <tr>
            <td class="piece-type-cell align-middle">Pawns</td>
            <td class="input-cell"><input type="number" id="whitePawnValue" [(ngModel)]="model.whitePieces.pawn" name="whitePawnValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">Pawns</td>
            <td class="input-cell"><input type="number" id="blackPawnValue" [(ngModel)]="model.blackPieces.pawn" name="blackPawnValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
          <!-- Knights -->
          <tr>
            <td class="piece-type-cell align-middle">Knights</td>
            <td class="input-cell"><input type="number" id="whiteKnightValue" [(ngModel)]="model.whitePieces.knight" name="whiteKnightValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">Knights</td>
            <td class="input-cell"><input type="number" id="blackKnightValue" [(ngModel)]="model.blackPieces.knight" name="blackKnightValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
          <!-- Bishops -->
          <tr>
            <td class="piece-type-cell align-middle">Bishops</td>
            <td class="input-cell"><input type="number" id="whiteBishopValue" [(ngModel)]="model.whitePieces.bishop" name="whiteBishopValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">Bishops</td>
            <td class="input-cell"><input type="number" id="blackBishopValue" [(ngModel)]="model.blackPieces.bishop" name="blackBishopValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
          <!-- Rooks -->
          <tr>
            <td class="piece-type-cell align-middle">Rooks</td>
            <td class="input-cell"><input type="number" id="whiteRookValue" [(ngModel)]="model.whitePieces.rook" name="whiteRookValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">Rooks</td>
            <td class="input-cell"><input type="number" id="blackRookValue" [(ngModel)]="model.blackPieces.rook" name="blackRookValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
          <!-- Queen -->
          <tr>
            <td class="piece-type-cell align-middle">Queen</td>
            <td class="input-cell"><input type="number" id="whiteQueenValue" [(ngModel)]="model.whitePieces.queen" name="whiteQueenValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">Queen</td>
            <td class="input-cell"><input type="number" id="blackQueenValue" [(ngModel)]="model.blackPieces.queen" name="blackQueenValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
          <!-- King -->
          <tr>
            <td class="piece-type-cell align-middle">King</td>
            <td class="input-cell"><input type="number" id="whiteKingValue" [(ngModel)]="model.whitePieces.king" name="whiteKingValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
            <td class="piece-type-cell align-middle">King</td>
            <td class="input-cell"><input type="number" id="blackKingValue" [(ngModel)]="model.blackPieces.king" name="blackKingValue" required (input)="validateFloat($event)" step="0.1" class="form-control custom-input" /></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Submit Button -->
    <div class="text-center mt-3">
      <button 
        type="submit" 
        class="btn btn-primary custom-button" 
        (click)="isRequesting ? null : pingFlask()" 
        [disabled]="isRequesting">
        Evaluate
      </button>
    </div>

    <!-- Best Move Display -->
    <div *ngIf="bestMove" class="mt-3">
      <strong>Best Move:</strong> {{ bestMove }}
    </div>
  </div>
</form>
