/* Remove table cell borders */
.custom-table {
  border-collapse: collapse;
}

.custom-table td, .custom-table th {
  border: none;
  padding: 10px;
}

/* Piece Type Cells */
.piece-type-cell {
  color: #ffffff;
  background-color: #4a4a4a;
  font-weight: bold;
}

/* Player Header */
.player-header {
  background-color: #C2FE72;
  color: #4a4a4a;
  padding: 10px;
  border-radius: 0px;
}

/* Input Cells */
.input-cell {
  background-color: #4a4a4a; /* Matches the dark gray background */
}

/* Custom Input Styling */
.custom-input {
  background-color: #f7f7d6;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 5px #a6ff4d;
}

/* Button Styling */
.btn-primary.custom-button {
  background-color: #fdd835;
  border: none;
  color: #4a4a4a;
  font-weight: bold;
}

.btn-primary.custom-button:hover {
  background-color: #528304;
}
.empty-cell
{
  background-color:  #4a4a4a;
}