<app-navmenu></app-navmenu>

<div class="game-wrapper" style="margin-top: 85px;">
  <div class="container" style="margin-top: 10px;">
    <p>Sandbox Testing</p>
  </div>
  <div class="boards-container">
      <ngx-chess-board #chessBoard (moveChange)="onMoveChange()" [size]="this.updateBoardSize()"></ngx-chess-board>
  </div>
  <button class="new-game-button reset-btn" (click)="reset()">
    Reset
  </button>
</div>

<div class="parameter-wrapper mt-3">
  <div style="text-align: center;">
    <p>{{this.currentFen}}</p>
  </div>
  <div style="text-align: center;">
    <app-mat-eval [currentFen]="this.currentFen"></app-mat-eval>
  </div>
  <div style="text-align: center;">
    <app-mini-max></app-mini-max>
  </div>
</div>



