.game-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.boards-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* Adds a subtle shadow */
  background-color: white; /* Optional: Ensure the background color contrasts with the shadow */
}

.container
{
  width: 100%;
  text-align: center;
}
.container p 
{
  font-size: larger;
}

.new-game-button {
  background-color: #8b4513; /* Dark brown color to match chessboard */
  color: #ffffff; /* White text for better contrast */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.reset-btn {
  width: 300px;
  align-self: center;
  margin-top: 20px;
}

.new-game-button:hover {
  background-color: #a0522d; /* Slightly lighter brown for hover effect */
}

.boards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #282970;
  flex-wrap: wrap; /* Allow items to wrap for smaller screens */
  height: fit-content;
}

/* Add media queries for different screen sizes to make the component more responsive */
@media (max-width: 768px) {
  .boards-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 1rem;
    min-width: 350px;
  }

  .new-game-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .boards-container {
    padding: 0.5rem;
  }

  .new-game-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.parameter-wrapper
{
  margin: 0 auto;
  width: fit-content;
}

.custom-button {
  background-color: #282a71; /* Dark blue background */
  color: whitesmoke;         /* White text */
  border-radius: 8px;        /* Rounded corners */
  padding: 10px 20px;        /* Increase padding for better appearance */
  border: 2px solid  #160555;/* Solid border similar to row gradient */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle shadow */
  margin: auto 10px;
  width: 100%
}

.custom-button:hover {
  background-color: #160555; /* Slightly lighter blue on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1); /* Stronger shadow on hover */
}

.custom-button:disabled {
  background-color: #999999; /* Gray background when disabled */
  border: 2px solid #999999; /* Gray border when disabled */
  cursor: not-allowed;       /* Show not-allowed cursor when disabled */
  box-shadow: none;          /* Remove shadow when disabled */
}