<app-navmenu></app-navmenu>

<div class="container game-wrapper mt-5">
  <div class="row" style="margin-top: 85px;">
    <!-- Left side: Parameters, centered on small screens -->
    <div class="col-12 col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
      <div style="text-align: center;">
        <app-mat-eval [currentFen]="this.currentFen"></app-mat-eval>
      </div>
      <div style="text-align: center;">
        <app-mini-max></app-mini-max>
      </div>
    </div>

    <!-- Right side: Chessboard, only on right side on desktop screens -->
    <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center">
      <div class="boards-container" style="max-width: 500px;">
        <span>Click on Evaluate to get the AI to make a move</span>
        <ngx-chess-board #chessBoard (moveChange)="onMoveChange()" [size]="boardSize"></ngx-chess-board>
        <div class="text-center mt-3">
          <button class="custom-button reset-btn" (click)="reset()">Reset</button>
        </div>
        <div style="text-align: center; font-size: 12px;">
          <p>{{ this.currentFen }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
